extends base.pug

block append vars
  - var stylesheet='/account.css'
  - var script='/account.js'

block main
  .profileBanner 
    h2 Account information
    .field
      label Account ID
      =user.id
      if user.charity 
        .tag Charity Account
    .field
      label Joined
      =user.createdAt
    form.logout(action="logout" method="POST")
      button.button.is-light(type="submit") Logout


  h2.listingTitle My Listings

  if listings.length === 0
    section.noListingNotice
      h2 You have no listings yet!
      a.button.primary(href="/listing") List an item

  else 
    section.listings 
      each listing in listings
        a.listing(href="/listing/" + listing.id)
          img(src=listing.imageURL loading="lazy")
          footer
            p.description=listing.description
            small.meta
              .location
                i.fas.fa-location-dot
                |  
                span=listing.location
              time(datetime='2016-1-1')=listing.timestamp
              data.category=listing.category
      

