block vars 
  - var title='Freestuff'
  - var description="base.pug description";
  - var image='https://via.placeholder.com/1200x630.png'
  - var stylesheet='/base.css'
  - var script='/base.js'

doctype html
html 
  head
    block head
      title #{title}
      meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
      //- Search engines
      meta(name='description', content=description)
      //- Twitter
      meta(name='twitter:card', content='summary')
      meta(name='twitter:site', content='')
      meta(name='twitter:title', content=title)
      meta(name='twitter:description', content=description)
      meta(name='twitter:creator', content='')
      meta(name='twitter:image:src', content=image)
      meta(name='twitter:player', content='')
      //- Open Graph General (Facebook & Pinterest)
      meta(property='og:title', content=title)
      meta(property='og:description', content=description)
      meta(property='og:site_name', content=title)
      meta(property='og:image', content=image)
      meta(property='fb:admins', content='')
      meta(property='fb:app_id', content='')
      meta(property='og:type', content='website')
      meta(property='og:locale', content='')
      meta(property='og:audio', content='')
      meta(property='og:video', content='')
      //- Favicons
      link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
      link(rel='manifest' href='/site.webmanifest')
      link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css", rel="stylesheet")
      link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css", rel="stylesheet")
      link(href=stylesheet, rel="stylesheet")

  body
    block body

      header.hackBanner Freestuff is a work-in-progress hackathon project for OGP's 
        a(href="https://hack.gov.sg" target='_blank') Hack for Public Good

      header.navbar
        block header
          a.site-logo(href="/") 
            span.free FREE
            | STUFF
          .site-controls
            a(href="/about") About us
            if user
              a(href="/account")
                i.fas.fa-user
            if !user
              a(href="/login") Login

      main
        block main
          h1.title #{title}
      
      footer.site-footer
        a(href="https://open.gov.sg" target='_blank')
          img(src='/ogp.svg')
        .links
          a(href='/about') About Us
          a(href='/privacy') Privacy Policy
          a(href='/terms') Terms of Use
          a(href='https://go.gov.sg/freestuff-feedback' target='_blank') Report a Problem
            
      script(src=script)
      