extends base.pug

block append vars
  - var stylesheet='/listing.css'
  - var script='/listing.js'

block main

  //- View an existing listing
  if listing
    .listing 
      .image-field
        img.preview(src=listing.imageURL)
      .fields
        p.description= listing.description
        .field
          label Collection Instructions
          p= listing.collection
        .field
          label Contact Information
          p= listing.contact
        .pill
          label Category
          .category= listing.category
        .pill
          label Location
          .category= listing.location

        if listing.owner == user.id
          form.listing(action=("/listing/delete/" + listing.id) method="POST" enctype="multipart/form-data")
            button.button.hint#delete(type="submit") Delete item

  //- Creating a new listing
  else
    form.listing(action="listing" method="POST" enctype="multipart/form-data")
      .image-field 
        i.fa-solid.fa-image
        label(for="file") Add a photo
        input(type='file' id="file" name="file" accept="image/png, image/jpeg")
        img.preview.hidden(src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==")
        label.change.hidden(for="file") Change photo
      .fields
        .field
          label(for="category") Category 
          select#category(name='category' required)
            option(value='' selected disabled hidden) - Choose a category -
            option(value='clothes') Clothes
            option(value='furniture') Furniture
            option(value='appliances') Appliances
            option(value='toys') Toys &amp; Games
            option(value='tools') Tools

        .field
          label(for="description") Description
          input(
            id="description" name="description" type="text"
            placeholder="Details about the item that would be useful or interesting!"
          )

        .field
          label(for="location") Location 
          select#location(name='location' required)
            option(value='' selected disabled hidden) - Choose a location -
            option(value='ang moh kio') Ang Moh Kio
            option(value='bukit timah') Bukit Timah
            option(value='orchard') Orchard
            option(value='jurong') Jurong
            option(value='woodlands') Woodlands

        .field
          label(for="collection") Collection
          input(
            id="collection" name="collection" type="text" 
            placeholder="How should people collect the item?"
          )

        .field
          label(for="contact") Contact Details
          input(
            id="contact" name="contact" type="text" 
            placeholder="How should people get in touch with you?"
          )

        .field
          button.primary(type="submit") List item

